@model OOP_L_4_L_5.Managers.PaymentInfos.CreateOrUpdatePaymentInfoModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .textleft {
            text-align: left;
        }

        body {
            margin: auto;
            max-width: 1000px;
            background-color: bisque;
            align-content: center;
            align-items: center;
        }
        .cursorhand {
            cursor: pointer;
        }

        .unselectable {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        h1 {
            font-size: 37px;
            color: saddlebrown;
        }

        .default {
            align-self: center;
            text-align: center;
            align-content: center;
        }

        table {
            margin: auto;
            border: 2px double darkred;
        }

        th {
            font-size: 24px;
            min-width: 200px;
            max-width: 500px;
            border: 5px thin black;
        }

        td {
            font-size: 24px;
            min-width: 200px;
            max-width: 960px;
            border: 1px thin black;
        }

        tr {
            border: 2px double darkred;
        }

        .input {
            padding: 2px;
            margin-top: 3px;
            font-size: 28px;
            min-height: 30px;
            min-width: 200px;
            border: 3px outset darkred;
            background-color: rgba(255, 255, 255, 0.37);
            font-family: Impact;
        }

        .warningmessage {
            text-align: center;
            align-self: center;
            margin: auto;
            color: darkred;
            font-size: 30px;
            font-weight: bold;
            border: 7px double black;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить Платёжные Данные</title>
</head>
<body>
    <h1 class="default">
        Изменить Платёжные Данные
    </h1>
    <div class="default">
        @using (Html.BeginForm("Update", "PaymentInfo", FormMethod.Post))
        {
            <input type="hidden" value="@Model.PaymentInfo.Id" name="PaymentInfoId" />
            <table>
                <tr>
                    <td>
                        Имя держателя карты
                    </td>
                    <td>
                        <input type="text" value="@Model.PaymentInfo.Name" maxlength="50" name="Name" />
                    </td>
                </tr>
                <tr>
                    <td>
                        Номер карты
                    </td>
                    <td>
                        <input type="text" value="@Model.PaymentInfo.CardNumber" maxlength="16" name="CardNumber" />
                    </td>
                </tr>
                <tr>
                    <td>
                        cvc-код
                    </td>
                    <td>
                        <input type="text" value="@Model.PaymentInfo.Cvc" maxlength="3" name="Cvc" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        Выберите клиента:
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        @if (Model.Clients.Count() > 0)
                        {
                            <select style="background: rgba(0, 0, 0, 0.27); border:1px solid rgba(0, 0, 0, 0.70); font-size:20px; color: black;" name="ClientId">
                                @foreach (var c in Model.Clients)
                                {
                                    <option @(Model.PaymentInfo.ClientId == c.Id ? "selected" : "") style="background: rgba(0, 0, 0, 0.27); border:1px solid rgba(0, 0, 0, 0.70); font-size:20px; color: black;" value="@c.Id">@c.Name (@c.Email)</option>
                                }
                            </select>
                        }
                        else
                        {
                            <div class="warningmessage" style="font-size:20px;">
                                Тутачки ныне пусто! Сначала создайте клиента.
                            </div>
                        }
                    </td>
                </tr>
            </table>
            <div>
                <a class="input" href="/PaymentInfo/PaymentInfoCatalog">Отмена</a>   <input class="input cursorhand" type="submit" value="Обновить сведения" />
            </div>

        }
    </div>

</body>
</html>
