@model OOP_L_4_L_5.Managers.Orders.CreateOrUpdateOrderModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .textleft {
            text-align: left;
        }

        .cursorhand {
            cursor: pointer;
        }

        .unselectable {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }

        body {
            margin: auto;
            max-width: 1000px;
            background-color: bisque;
            align-content: center;
            align-items: center;
        }

        h1 {
            font-size: 37px;
            color: saddlebrown;
        }

        .default {
            align-self: center;
            text-align: center;
            align-content: center;
        }

        table {
            margin: auto;
            border: 2px double darkred;
        }

        th {
            font-size: 24px;
            min-width: 200px;
            max-width: 500px;
            border: 5px thin black;
        }

        td {
            font-size: 24px;
            min-width: 200px;
            max-width: 960px;
            border: 1px thin black;
        }

        .tdplagiate {
            font-size: 24px;
            min-width: 200px;
            max-width: 960px;
            border: 1px thin black;
        }

        tr {
            border: 2px double darkred;
        }

        .input {
            padding: 2px;
            margin-top: 3px;
            font-size: 28px;
            min-height: 30px;
            min-width: 200px;
            border: 3px outset darkred;
            background-color: rgba(255, 255, 255, 0.37);
            font-family: Impact;
        }

        .warningmessage {
            text-align: center;
            align-self: center;
            margin: auto;
            color: darkred;
            font-size: 30px;
            font-weight: bold;
            border: 7px double black;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить Заказ</title>
</head>
<body>
    <h1 class="default">
        Изменить Заказ
    </h1>
    <div class="default">
        @using (Html.BeginForm("Update", "Order", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Order.Id" name="OrderId" />
            <div>
                <a class="input" href="/Order/OrderCatalog">Отмена</a>   <input class="input cursorhand" type="submit" value="Обновить сведения" />
            </div>
            <table style="border:0px;">
                <tr>
                    <td>
                        Клиент
                    </td>
                    <td>
                        @if (Model.Clients.Count() > 0)
                        {
                            <select style="background: rgba(0, 0, 0, 0.27); border:1px solid rgba(0, 0, 0, 0.70); font-size:20px; color: black;" name="ClientId">
                                @foreach (var c in Model.Clients)
                                {
                                    <option @(c.Id == Model.Order.ClientId ? "selected" : "") style="background: rgba(0, 0, 0, 0.27); border:1px solid rgba(0, 0, 0, 0.70); font-size:20px; color: black;" value="@c.Id">@c.Name (@c.Email)</option>
                                }
                            </select>
                        }
                        else
                        {
                            <div class="warningmessage" style="font-size:20px;">
                                Тутачки ныне пусто! Сначала создайте клиента.
                            </div>
                        }
                    </td>
                </tr>

            </table>
            <span class="tdplagiate">Выберите нужные товары:</span>
            <table>
                <thead>
                    <tr>
                        <th>
                            Выбор
                        </th>
                        <th>
                            Продукция
                        </th>
                        <th>
                            Тип продукции
                        </th>
                        <th>
                            Цена, руб
                        </th>
                        <th>
                            В наличии
                        </th>
                    </tr>
                </thead>
                @foreach (var m in Model.Products)
                {
                    bool f = false;
                    foreach (var u in Model.Order.OrderProducts)
                        if (u.ProductId == m.Id)
                            f = true;
                    <tr class="trheader">
                        <td>
                            <label class="unselectable cursorhand" for="@m.Id"><input id="@m.Id" @(f ? "checked" : "") type="checkbox" class="input" style="font-size:20px;min-height:20px;min-width:50px;border:2px outset rgba(35, 0, 0, 0.70); background-color:rgba(0, 0, 0, 0.39);" name="ProductIds" value="@m.Id" /></label>
                        </td>
                        <td>
                            <label class="unselectable cursorhand" for="@m.Id">
                                @if (m.MatterId != Guid.Empty)
                                {
                                    <table style="border:1px solid black;">
                                        @if (m.ProductType == OOP_L_4_L_5.Storage.ProductTypes.Anime)
                                        {
                                            <tr style="text-align:right;">
                                                <td class="noborder">@m.Anime.Name<br />@m.Anime.Studio, @m.Anime.Date.ToLongDateString() - @m.Anime.AnimeType</td>
                                                <td style="width:20%; min-width:110px; text-align:center;" class="noborder">@m.Anime.Genre<br />@(Convert.ToString(m.Anime.EpisodesCount) + " еп.")</td>
                                            </tr>
                                        }
                                        @if (m.ProductType == OOP_L_4_L_5.Storage.ProductTypes.Book)
                                        {
                                            <tr style="text-align:right;">
                                                <td class="noborder">@m.Book.Name<br />@m.Book.Author, @m.Book.Date.ToLongDateString() - @m.Book.BookType</td>
                                                <td style="width:20%; min-width:110px; text-align:center;" class="noborder">@m.Book.Genre<br />@(Convert.ToString(m.Book.PageCount) + " стр.")</td>
                                            </tr>
                                        }
                                        @if (m.ProductType == OOP_L_4_L_5.Storage.ProductTypes.Figure)
                                        {
                                            <tr style="text-align:right;">
                                                <td class="noborder">@m.Figure.Name<br />@m.Figure.Source</td>
                                                <td style="width:20%; min-width:110px; text-align:center;" class="noborder" style="min-width:64px;">[1 : @m.Figure.Scale]<br />@(Convert.ToString(m.Figure.Weight) + " гр.")</td>
                                            </tr>
                                        }
                                    </table>
                                }
                                else
                                {
                                    <span style="font-style:italic">[не назначено]</span>
                                }
                            </label>
                        </td>
                        <td>
                            <label class="unselectable cursorhand" for="@m.Id">
                                @if (m.MatterId != Guid.Empty)
                                {
                                    <span>@(m.ProductType == OOP_L_4_L_5.Storage.ProductTypes.Anime ? "Аниме" : (m.ProductType == OOP_L_4_L_5.Storage.ProductTypes.Book ? "Книга" : "Фигурка"))</span>
                                }
                                else
                                {
                                    <span style="font-style:italic">[не определён]</span>
                                }
                            </label>
                        </td>
                        <td>
                            <label class="unselectable cursorhand" for="@m.Id">
                                @m.Price
                            </label>
                        </td>
                        <td>
                            <label class="unselectable cursorhand" for="@m.Id">
                                @(m.CountInStock < 1 ? "Нет" : m.CountInStock + " шт.")
                            </label>
                        </td>
                    </tr>
                }
            </table>
        }
    </div>
</body>
</html>
