@model OOP_L_4_L_5.Storage.Entity.Anime

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .textleft {
            text-align:left;
        }
        .cursorhand {
            cursor: pointer;
        }

        .unselectable {
            -moz-user-select: none;
            -webkit-user-select: none;
            user-select: none;
        }
        body {
            margin: auto;
            max-width: 1000px;
            background-color: bisque;
            align-content: center;
            align-items: center;
        }

        h1 {
            font-size: 37px;
            color: saddlebrown;
        }

        .default {
            align-self: center;
            text-align: center;
            align-content: center;
        }

        table {
            margin: auto;
            border: 2px double darkred;
        }

        th {
            font-size: 24px;
            min-width: 200px;
            max-width: 500px;
            border: 5px thin black;
        }

        td {
            font-size: 24px;
            min-width: 200px;
            max-width: 960px;
            border: 1px thin black;
        }

        tr {
            border: 2px double darkred;
        }

        .input {
            padding: 2px;
            margin-top: 3px;
            font-size: 28px;
            min-height: 30px;
            min-width: 200px;
            border: 3px outset darkred;
            background-color: rgba(255, 255, 255, 0.37);
            font-family: Impact;
        }

        .warningmessage {
            text-align: center;
            align-self: center;
            margin: auto;
            color: darkred;
            font-size: 30px;
            font-weight: bold;
            border: 7px double black;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Изменить Аниме</title>
</head>
<body>
    <h1 class="default">
        Изменить Аниме
    </h1>
    <div class="default">
        @using (Html.BeginForm("Update", "Anime", FormMethod.Post))
        {
            <input type="hidden" value="@Model.Id" name="AnimeId" />
        <table>
            <tr>
                <td>
                    Название
                </td>
                <td>
                    <input type="text" value="@Model.Name" maxlength="500" name="Name" />
                </td>
            </tr>
            <tr>
                <td>
                    Дата выхода
                </td>
                <td>
                    <input type="date" value="@(Model.Date.Month<10?"0":"")@(Model.Date.Month<100?"0":"")@(Model.Date.Month<1000?"0":"")@Model.Date.Year-@(Model.Date.Month<10?"0":"")@Model.Date.Month-@(Model.Date.Day<10?"0":"")@Model.Date.Day" name="Date" />
                </td>
            </tr>
            <tr>
                <td>
                    Жанр
                </td>
                <td class="textleft">
                    <label class="unselectable cursorhand">@Html.RadioButton("ArtGenre", "Comedy", (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Comedy ? true : false))Комедия<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("ArtGenre", "Drama", (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Drama ? true : false))Драма<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("ArtGenre", "Romance", (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Romance? true : false))Романтика<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("ArtGenre", "Fantasy", (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Fantasy? true : false))Фэнтези<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("ArtGenre", "SliceOfLife", (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.SliceOfLife? true : false))Повседневность</label>
                    @*<label><input type="radio" name="ArtGenre" @if (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Comedy) checked; value="Comedy" />Комедия<br /></label>
                    <label><input type="radio" name="ArtGenre" @if (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Drama) checked; value="Drama" />Драма<br /></label>
                    <label><input type="radio" name="ArtGenre" @if (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Romance) checked; value="Romance" />Романтика<br /></label>
                    <label><input type="radio" name="ArtGenre" @if (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.Fantasy) checked; value="Fantasy" />Фэнтези<br /></label>
                    <label><input type="radio" name="ArtGenre" @if (Model.Genre == OOP_L_4_L_5.Storage.ArtGenres.SliceOfLife) checked; value="SliceOfLife" />Повседневность</label>*@
                </td>
            </tr>
            <tr>
                <td>
                    Студия
                </td>
                <td>
                    <input type="text" maxlength="100" value="@Model.Studio" name="Studio" />
                </td>
            </tr>
            <tr>
                <td>
                    Кол-во серий
                </td>
                <td>
                    <input type="number" max="100001" value="@Model.EpisodesCount" name="EpisodesCount" />
                </td>
            </tr>
            <tr>
                <td>
                    Тип
                </td>
                <td class="textleft">
                    @*<label><input type="radio" name="AnimeType" value="TV" />ТВ<br /></label>
                    <label><input type="radio" name="AnimeType" value="Movie" />Фильм<br /></label>
                    <label><input type="radio" name="AnimeType" value="OVA" />ОВА<br /></label>
                    <label><input type="radio" name="AnimeType" value="Other" />Другой</label>*@
                    <label class="unselectable cursorhand">@Html.RadioButton("AnimeType", "TV", (Model.AnimeType == OOP_L_4_L_5.Storage.AnimeTypes.TV ? true : false))ТВ<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("AnimeType", "Movie", (Model.AnimeType == OOP_L_4_L_5.Storage.AnimeTypes.Movie ? true : false))Фильм<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("AnimeType", "OVA", (Model.AnimeType == OOP_L_4_L_5.Storage.AnimeTypes.OVA ? true : false))ОВА<br /></label>
                    <label class="unselectable cursorhand">@Html.RadioButton("AnimeType", "Other", (Model.AnimeType == OOP_L_4_L_5.Storage.AnimeTypes.Other ? true : false))Другой</label>
                </td>
            </tr>
        </table>
        <div>
            <a class="input" href="/Anime/AnimeCatalog">Отмена</a>   <input class="input cursorhand" type="submit" value="Обновить сведения" />
        </div>
        }
    </div>

</body>
</html>
